 :host {
    display: block;
    height: 100%;
    overflow: auto;
}

/* .product-image {
  height: 150px;
  overflow: hidden;
}

.product-image img {
  margin-top: 5px;
  margin-left: 10px;
  width: 90%;
  height: 100%;
  object-fit: cover;
} */
 
/* .box {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

 
